.App {
  text-align: center;
  height: 100vh;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  display: grid;
}

.ql-editor {
  min-height: 100px;
}

/* .rbc-day-slot .rbc-event-content, .rbc-day-slot .rbc-event-label {
  display:inline;
} */

.rbc-day-slot .rbc-event-content img,
.rbc-day-slot .rbc-event-label img {
  max-width: 25px;
}

.rbc-day-slot .rbc-event .rbc-event-label {
  float: left;
}

.rbc-events-container .rbc-event .rbc-event-label {
  float: none;
}

.rbc-day-slot .rbc-event .rbc-event-content {
  font-size: 0.8rem;
  font-weight: 700 !important;
  line-height: 1rem !important;
}

.rbc-day-slot .rbc-addons-dnd-resizable {
  display: flex;
  flex-flow: column wrap;
}


/** Forcing Calendar Month VIEW height to be  dynamic  **/
.App .rbc-month-row {
  height: auto;
  min-height: 19%;
}
.App .rbc-month-view {
  display: block;
  height: auto;
}
/*************************************************/
#event_title_name p{
  display:inline;
}

@import "~react-quill/dist/quill.snow.css";
@import "~react-quill/dist/quill.bubble.css";

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout .ant-layout-header {
background:#DDD;
height: auto;
padding:5px;
}

.ant-layout .ant-layout-header  .ant-page-header {
  padding: 0;
}
